/* adding variables for consistent color scheme */
:root {
    --green: #18453b;
    --whitetext: ghostwhite;
    --whitebackground: ghostwhite;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--whitebackground);
}

/* formatting for header with my name and nav links*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--green);
    color: var(--whitetext);
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* formatting for navigation links in header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--whitetext);
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* adding in a decorcative top photo*/
.ianh {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/traversebay.png");
    background-size: cover;
    background-position: center;
}

/* adding responsive element to adjust content based on screen size */
@media screen and (max-width: 767px) {
    .header {
      flex-direction: column;
    }
    .ianh {
        display: none;
    }
}